In [1]:
import pandas as pd

In [2]:
friends = open(r'/Users/shawnliu/学术/friends.txt','r').readlines()
states = open(r'/Users/shawnliu/学术/map state.txt','r').readlines()

In [14]:
def map_friend(x,y):
    col_name = ['Name','Phone','AreaCode','State']
    df = pd.DataFrame(columns = col_name)
    name = []
    phone = []
    for i in range(len(x)):
        x[i] = x[i].rstrip('\n')
        if i % 2 == 0:
            name.append(x[i])
        else:
            phone.append(x[i])
    df['Name'] = name
    df['Phone'] = phone
    for i in range(len(df.index)):
        df.at[i,'Phone'] = df.at[i,'Phone'].replace('(' , '')
        df.at[i,'Phone'] = df.at[i,'Phone'].replace(')' , '')
        df.at[i,'AreaCode'] = df.at[i,'Phone'][0:3]
    States = {}
    for i in range(len(y)):
        y[i] = y[i].rstrip('\n')
        if i % 2 == 0:
            States[y[i]] = y[i+1]
    for i in range(len(df.index)):
        df.at[i,'State'] = States[df.at[i,'AreaCode']]
    return df

In [15]:
map_friend(friends,states)

    Name         Phone AreaCode       State
0    Ana   801-456-789      801        Utah
1    Ben   609 4567890      609  New Jersey
2   Cory  206-345-2619      206  Washington
3  Danny    6095648765      609  New Jersey